html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
  padding: .4em .75em .3em;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  display: inline-block;
  font-size: 1.125rem;
  border-radius: 8px;
  border: 3px;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
  display: inline-block;
  font-size: 1.125rem;
  border-radius: 8px;
}

.btn-small {
  font-size: .875rem;
  border-radius: 8px;
}

.btn-ghost {
  color: #000;
  display: inline-block;
  border-radius: 8px;
  border: 3px solid #333;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
  display: inline-block;
  font-size: 1.125rem;
  border-radius: 8px;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-reg {
  background-color: #333;
  color: #fff;
  display: inline-block;
  font-size: .875rem;
}

.btn: hover {
border-radius: 8px;
padding: .4em .75em .3em;
background-color: #fff;
}

.btn-ghost: hover {
border-radius: 8px;
padding: .4em .75em .3em;
background-color: #666;
}

.btn-warning: hover {
 background-color: #933;
 border-radius: 8px;
 padding: .4em .75em .3em;
}
